tn-from-to-result > div {
    margin: 7em 0 1em;
    padding: 1em 0;
}

tn-from-to-result > div > h2 {
    color: #ffffff;
}

.connection {
    margin: 1em auto 1em;
    padding: 1em;

    background-color: #ffffff;
}

.connection__train-details {
    display: flex;
    flex-direction: row;

    color: #114559;
}

.connection__train-number {
    margin-bottom: 0.35em;

    color: #aaaaaa;
}

.connection__train-from,
.connection__train-to,
.connection__train-duration,
.connection__action {
    flex: 0 1 100px;
    box-sizing: border-box;
}

.connection__train-from,
.connection__train-to {
    flex: 0 1 120px;
}

.connection__train-to {
    padding-left: 10px;
}

.connection__train-duration {
    position: relative;

    flex: 1 1 auto;
    max-height: 2.25em;
    margin: 0 1em 1em 0.5em;

    border-bottom: 2px solid #ee4266;

    color: #aaaaaa;
    font-size: 0.8em;
    text-align: center;
}

.connection__train-duration::before,
.connection__train-duration::after {
    position: absolute;
    bottom: -5px;

    display: block;
    width: 8px;
    height: 8px;
    content: '';

    background: #ee4266;
    border-radius: 100%;
}

.connection__train-duration::before {
    left: 0;
}

.connection__train-duration::after {
    right: 0;
}

.connection__dep,
.connection__arr {
    display: block;
    font-size: 0.8em;
}

.connection__action {
    flex: 0 1 60px;

    text-align: center;
}

.connection__action button {
    background: none;
    border: none;
    cursor: pointer;

    /* color: #114559; */
    color: #3cbbb1;
    font-size: 2em;
}

.connection__price {
    display: inline-block;
    font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
    tn-from-to-result > div {
        margin: 1em 0 1em;
        padding: 1em 0;
    }

    .connection {
        padding: 0.5em;
    }

    .connection__train-from,
    .connection__train-to {
        flex: 0 1 50px;
        padding: 0;
    }

    .connection__train-duration {
        margin-top: 10px;
    }

    .connection__train-from,
    .connection__train-to {
        flex: 0 1 50px;
    }

    .connection__action {
        flex: 0 1 30px;
    }

    .connection__price {
        font-size: 0.8em;
    }

    .connection__dep,
    .connection__arr {
        display: none;
    }
}
