/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background:  url('/assets/images/_Titelfoto_Venedig-466938446-mikolajn-iStock-Thinkstock.jpg') top center  no-repeat #084358;
 
}
body.home{
  background:  url('/assets/images/_Titelfoto_Venedig-466938446-mikolajn-iStock-Thinkstock.jpg') top center  no-repeat #084358;
}

body.hamburg{
  background:  url('/assets/images/_Titelfoto_Hamburg.jpg') top center  no-repeat #084358;
}



.uk-navbar-toggle {
  color: #ef4066;
  zoom: 1.2;
}
.uk-card-default {
  background: #fff;
  color: #666;
  box-shadow:  6px 6px 5px -1px rgba(239,64,102,1);
}
.uk-card-default .uk-card-title {
  color: #ef4066;
}
.uk-card-footer{
  text-align: right;
}
.uk-card-footer a{
  padding-left:20px;
text-align: right;
cursor: pointer;
}
.uk-button.uk-button-text{
  cursor:pointer;
}
.uk-card-footer a {
  color: black;
}
.uk-card-footer a span{
  color: #ef4066;
}
.uk-card-footer a:focus, .uk-card-footer a:hover {
  color: #ef4066;
}
.icon-grid h3{
  color:white;
font-size: 30px;
margin-top:0;

}
.icon-grid p{
  color:white;
font-size: 20px;


}
.icon-grid{
  margin-bottom:40px;
}

h1{
  color: #ffffff;
    font-size: 3.25em;
    font-weight: bold;
    text-align: center;
}
h2{
  color: #ffffff;
    font-size: 2.25em;
    font-weight: bold;
    text-align: center;
    
}