header {
  background:transparent;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}
.uk-footer {
  background: transparent;
}
.uk-footer, .uk-footer a, .uk-footer h2, .uk-footer h3, .uk-footer li {
  color: #fff;
}
.uk-navbar-nav>li.uk-active>a:before {
  content: " ";
  display: inline-block;
  width: 100%;
  position: absolute;
  bottom: 12px;
  left: 0;
  height: 4px;
  background: #79d53d
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent;
}
.uk-navbar-nav>li a {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  color:white;
  padding:6px 12px;
  background: #ef4066;
  margin-right:20px;
  box-shadow: 6px 5px 5px -4px rgba(57,184,175,1);
}

.uk-navbar-nav>li a:hover {
  color: #1c0342
}

.site-footer a {
  color: #ffffff;
  text-decoration: underline;
}



